<%- include('../_layouts/header') %>

<div class="container mt-4">
  <h2>Add New Product</h2>
  <form action="/admin/products/add-product" method="POST" enctype="multipart/form-data">
    <div class="form-group">
      <label>Title</label>
      <input class="form-control" type="text" name="title" required>
    </div>

    <div class="form-group">
      <label>Description</label>
      <textarea class="form-control" name="desc" required></textarea>
    </div>

    <div class="form-group">
      <label>Category</label>
      <select class="form-control" name="category"  required>
        <% categories.forEach(cat => { %>
          <option value="<%= cat.title %>"><%= cat.title %></option>
        <% }) %>
      </select>
    </div>

    <div class="form-group">
      <label>Price (₹)</label>
      <input class="form-control" type="number" step="0.01" name="price" required>
    </div>

    <div class="form-group">
      <label>Stock Quantity</label>
      <input class="form-control" type="number" name="tt" value="1" required>
    </div>

    <div class="form-group">
  <label for="size">Size (ml)</label>
  <input type="number" name="size" class="form-control" required>
</div>


    <div class="form-group">
      <label>Image</label>
      <input class="form-control-file" type="file" name="image" >
    </div>

    <button class="btn btn-success mt-3" type="submit">Add Product</button>
  </form>
</div>

<%- include('../_layouts/footer') %>
